h1{
    text-transform: uppercase;
}

a{
    color: #fff;
    text-decoration: none;
    
}

.color-blue{
    background-color: #0d6efd;

}
a:hover{

    color: #fff;
}

.header{
    width: 100%;
    background-color: #0d6efd;
}



.logo{
 
    padding: 10px;
}
.logo img{
    width: 80px;
    height: auto;
    
}

.text_logo{
    color: #fff;
    text-transform: uppercase;
    width: 200px;
    padding-left: 10px;
}
.nav ul{
    padding-top: 10px;
   
}

.nav ul li{
    font-weight: 900;
    display: inline;
    color: #fff;
    padding-left: 20px;
    text-transform: uppercase;
    
}
.delbutton{
    color: #0d6efd;
}
.delbutton:hover{
    color: #0d6efd;
}